.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
files/
logs/
/global/config.dev.js
/global/config.js
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

/*/dist/
