.app_content{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.app_content .content_left{
    width: 780px;
}
.app_content .content_right{
    width: 300px;
}
.app_content .user_container{
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ddd;
    margin: 30px 0px 10px;
}
.app_content .user_container .user_left{
    width: 75px;
    height: 75px;
    background-image: url("../assets/avatar.jpg");
    background-position: center;
    background-size: cover;
    transform: scale(1);
    transition: transform .5s;
}
.app_content .user_container .user_left:hover{
    transform: scale(1.12);
    transition: transform .5s;
}
.app_content .user_container .user_right{
    width: 185px;
    height: 80px;
}
.day_new{
    background-color: #fff;
}
.day_new h2{
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #333;
    font-weight: bold;
    border-top: 2px solid #0090ce;
    border-bottom: 1px dotted #999;
}